.nav-link{
    color: black;
    font-weight: bold;
}
.react{
    color: rgb(207, 134, 57);
    font-size: 36px;
}
.nike{
    font-size: 36px;

}
.kkk{

    display: flex;
}
.img{
    width: 100%;
    height: 900px;
}
.img-fluid{
    height: 400px;
}
.km{
    display: flex;
}
.lg{
    display: flex;
    float: left;
}
.kkk{
    color:  rgb(207, 134, 57);
    font-size: 50px;
    font-size: bold;
}
.infinity{
    font-size: 60px;
}
.shoes{
    height: 1400px;
    
    background-color:  rgb(219, 216, 216);
    margin-top: 50px;

}
.ggg:hover{
    background-color: green;
}
.abc{
color: rgb(207, 134, 57);
}
.casualshoes{
    color: navy;
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imgsh{
    background-color: rgb(219, 216, 216);
    margin: 10px;
}
.custom-highlight{
    font-size: 30px;
}
.casualshoes{
    margin-top: 50px;
}
.nikebrand{
    margin-top: 50px;
}
.tralle{
    float: right;
    height: 350px;
    width: 400px;
}
.hhh{
    background-color: rgb(219, 216, 216);
    height: 700px;
}
.col-6{
    background-color: white;
    display: flex;
    padding: 15px;
    width: 600px;
    border-radius: 0.9rem;
    margin: 10px;
}
.col-10{
    background-color: white;
    height: 150px;
    border-radius: 0.9rem;

}
.ahn{
    height: 200px;
    width: 100%;
    background-color: white;
}
.search{
    width: 500px;
    height: 40px;
    border-radius: 0.9rem;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
footer
{
    height: 200px;
    background-color: white;
}
.hah{
    padding: auto;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
}
.h5{
    color:rgb(207, 134, 57) ;
}
@media screen and (max-width:636px) {
    .hhh{
        height: 900px;
    }
    .tralle{
        width: 100%;
    }
}
@media screen and (max-width:762px) {
   
    .tralle{
        width: 100%;
    }
}
@media screen and (max-width:761px) {
   .hhh{
    height: 900px;
   }
    
    }
    @media screen and (max-width:759px) {
    
         .bnt{
           justify-content: center;
         }
         }
         @media screen and (max-width:618px) {
    
            .shoes{
              height: 1600px;
            }
            }
            @media screen and (max-width:557px) {
    
                .search{
                  width: 200px;
                }
                }
            
            @media screen and (max-width:503px) {
    
                .shoes{
                    height: 1800px;
                }
                }
                @media screen and (max-width:503px) {
    
                    .shoes{
                        height: 1800px;
                    }
                    }
                    @media screen and (max-width:445px) {
    
                        .shoes{
                            height: 2200px;
                        }
                        }
                    
                    

                
    
